<!DOCTYPE html>
<html lang = "es">
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/Style.css">
</head>
<body>
<p class="success-message">{{success}}</p>
<h1 class="title">Edita el restaurante</h1>
<br>
<p class="success-message">{{success}}</p>
<h1>Editar restaurante</h1>
<form class="product-form" name="editRestaurantForm" action="/restaurants/edit/{{restaurant.id}}" method="post" onsubmit="return checkRestaurantForm()">
    <label for="name">Nombre:</label>
    <input type="name" id="name" name="name" value="{{restaurant.name}}"><br><br>
    <label for="style">Estilo:</label>
    <input type="name" id="style" name="style" value="{{restaurant.style}}"><br><br>
    <label for="quality">Calidad:</label>
    <input type="number" id="quality" name="quality" value="{{restaurant.quality}}"><br><br>
    <label for="location">Ubicación:</label>
    <input type="name" id="location" name="location" value="{{restaurant.location}}"><br><br>
    <div class="button-container">
        <input type="submit" value="Editar">
        <a href="/restaurants" class="cancel">Cancelar</a><br><br>
    </div>

</form>
</body>
</html>