<!DOCTYPE html>
<html lang = "es">
<head>
    <title>Nuevo restaurante</title>
    <link rel="stylesheet" type="text/css" href="/Style.css">
    <link rel="stylesheet" type="text/css" href="/cStyle.css">
    <script src="/script.js"></script>
</head>

<body>
<h1 class="title">Añade un nuevo restaurante</h1>
<br>
<form class="product-form" name="restaurantForm" action="/new-restaurant" method="post" onsubmit="return checkRestaurantForm()">
    <div class="sub-entry">
        <label for="name">Nombre:</label>
        <input type="text" id="name" name="name"><br><br>
        <label for="style">Estilo:</label>
        <input type="text" id="style" name="style"><br><br>
        <label for="quality">Calidad:</label>
        <input type="number" id="quality" name="quality" min="0" max="10"><br><br>
        <label for="location">Ubicación:</label>
        <input type="text" id="location" name="location"><br><br>
    </div>
    <div class="sub-entry">
        <div class="checkList">
            <label for="dishes">Agregar platos:</label>
            <input type="text" id="myInput" onkeyup="return searchBarFunction()" placeholder="Buscar platos" title="Type in a name">
            {{#dishes}}
                <input type="checkbox" name="dishes" id="{{id}}" value="{{id}}" >
                <label for="{{id}}">{{name}}</label>
            {{/dishes}}<br><br>
        </div>
    </div>




    <div class="button-container">
    <input type="submit" value="Agregar"><br>
    <a href="/restaurants" class="cancel">Cancelar</a><br><br>
    </div>

</form>
<br>


</body>

</html>