<!DOCTYPE html>
<html lang="es">
<head>
    <title>Detalles</title>
    <link rel="stylesheet" type="text/css" href="/Style.css">
</head>
<body>
<h1 class="title">Detalles del restaurante</h1>
<div class="product-container">

    <h3>{{restaurant.name}}</h3><br>
    <div class="table-atr">
    <h4>Estilo: </h4>
    <p>{{restaurant.style}}</p>
    </div>
    <div class="table-atr">
    <h4>Calidad: </h4>
    <p>{{restaurant.quality}}</p>
    </div>
    <div class="table-atr">
    <h4>Ubicación: </h4><br>
    <p>{{restaurant.location}}</p>
    </div>
    <div class="table-atr">
    <h4>Platos disponibles: </h4>
    <ul>
        {{#dishes}}
            <li>{{name}}</li>
        {{/dishes}}
    </ul>
    </div>

    <div class="button-container">
        <a href="/restaurants/edit/{{restaurant.id}}" class="edit">Editar</a>
        <a href="/restaurants/delete/{{restaurant.id}}" class="delete" onclick="return confirm('¿Estás seguro de querer eliminar este restaurante?')">Borrar</a>
    </div>
</div><br>
<div class="button-container">
    <a href="/restaurants" class="back">Volver</a><br>
</div>
</body>
</html>