<!DOCTYPE html>
<html lang="es">
<head>
    <title>Platos</title>
    <link rel="stylesheet" type="text/css" href="/Style.css">
    <meta charset="UTF-8">
</head>
<header>
    <nav class="navbar">
        <div class="container">
            <div class="nav-links">
                <a href="/">Inicio</a>
                <a href="/dishes">Platos</a>
                <a href="/ingredients">Ingredientes</a>
                <a href="/tables">Tablas nutricionales</a>
            </div>
        </div>
    </nav>
</header>
<body>
<br>
<h1 class="title">Platos</h1>
<p class="success-message">{{success}}</p>
{{#dishes}}
    <div class="List-elem">
        <div class="content-left">
           <a href="/dishes/details/{{id}}" style="text-decoration: none"> <h3>{{name}}</h3></a>
            <br>
            <p>Precio: {{formattedPrice}}&euro;</p>
            <p>Categoría: {{category}}</p>
            <br>
        </div>
        <div class="content-right">
            <a href="/dishes/edit/{{id}}" class="button">Editar plato</a>
            <br>
            <br>
            <a href="/dishes/delete/{{id}}" class="button"
               onclick="return confirm('¿Estás seguro de querer eliminar este plato?')">Borrar plato</a>
        </div>
    </div>
{{/dishes}}
    <div class="button-container">
        <a href="/new-dish" class="button">Agregar plato</a>
    </div>
<footer>
    <div class="container">
        <p>&copy; 2024 Restaurante SSDD. Todos los derechos reservados.</p>
    </div>
</footer>
</body>
</html>
