<!DOCTYPE html>
<html lang="es">
<head>
    <title>Detalles</title>
    <link rel="stylesheet" type="text/css" href="/Style.css">
</head>
<body>
<h1 class="title">Detalles del plato</h1>
<div class="product-container">
    <h3>{{dish.name}}</h3><br><br>
    <h4>Restaurante: </h4>
    <p><a href="/restaurants/details/{{dish.restaurant.id}}">{{dish.restaurant.name}}</a></p>
    <h4>Categoría: </h4>
    <p>{{dish.category}}</p>
    <h4>Precio: </h4>
    <p>{{dish.price}}&euro;</p>
    <h4>Ingredientes: </h4>
    <ul>
        {{#ingredients}}
            <li>{{name}}</li>
        {{/ingredients}}
    </ul>


    <div class="button-container">
        <a href="/dishes/edit/{{dish.id}}" class="edit">Editar</a>
        <a href="/dishes/delete/{{dish.id}}" class="delete" onclick="return confirm('¿Estás seguro de querer eliminar este plato?')">Borrar</a>
    </div><br>
</div><br>
<div class="button-container">
    <a href="/dishes" class="back">Volver</a><br>
</div>

</body>
</html>