<!DOCTYPE html>
<html lang="es">
<head>
    <title>Detalles</title>
    <link rel="stylesheet" type="text/css" href="/Style.css">
</head>
<body>
<h1 class="title">Detalles del plato</h1>
<div class="product-container">

    <h3>{{dish.name}}</h3><br><br>
    <h4>Categoría: </h4><br>
    <p>{{dish.category}}</p>
    <h4>Precio: </h4><br>
    <p>{{dish.price}}&euro;</p>


    <div class="button-container">
        <a href="/dish/edit/{{dish.id}}" class="edit">Editar</a>
        <a href="/dish/delete/{{dish.id}}" class="delete">Borrar</a>
    </div><br>
</div><br>
<div class="button-container">
    <a href="/dishes" class="back">Volver</a><br>
</div>

</body>
</html>