<!DOCTYPE html>
<html lang="es">
<head>
    <title>Detalles</title>
    <link rel="stylesheet" type="text/css" href="/Style.css">
</head>
<body>
<h1 class="title">Detalles del plato</h1>
<div class="product-container">

    <h3>{{dish.name}}</h3>
    <p>Categoría: {{dish.category}}€</p>
    <p>Precio: {{dish.price}}€</p>


    <div class="button-container">
        <a href="/dish/edit/{{dish.id}}" class="button">Editar</a><br>
        <a href="/dish/delete/{{dish.id}}" class="button">Borrar</a><br>
        <a href="/dishes" class="button">Volver</a><br>
    </div>


</div>
</body>
</html>