<!DOCTYPE html>
<html lang="es">
<head>
    <title>Platos</title>
    <link rel="stylesheet" type="text/css" href="/Style.css">
    <meta charset="UTF-8">
</head>
<header>
    <nav>
        <div class="navbar">
            <a href="/">Inicio</a>
            <a href="/dishes">Platos</a>
            <a href="/ingredients">Ingredientes</a>
            <a href="/tables">Tablas nutricionales</a>
        </div>
    </nav>
</header>
<body>
<h1>Platos</h1>
<a href="/new-dish" class="boton">Agregar plato</a>
<p class="success-message">{{success}}</p>
{{#dishes}}
    <div class="List-elem">
        <div class="content-left">
           <a href="/dishes/details/{{id}}"> <h3>{{name}}</h3></a>
            <p>Precio: {{formattedPrice}}&euro;</p>
            <p>Categoría: {{category}}</p>
        </div>
        <div class="content-right">
            <a href="/dishes/edit/{{id}}" class="boton">Editar plato</a>
            <br>
            <a href="/dishes/delete/{{id}}" class="boton"
               onclick="return confirm('¿Estás seguro de querer eliminar este plato?')">Borrar plato</a>
        </div>
    </div>


{{/dishes}}
</body>
<footer>
    <div class="footer">
        <p>Derechos de autor 2024 SSDD</p>
    </div>
</footer>
</html>