<!DOCTYPE html>
<html lang="es">
<head>
    <title>Editar plato</title>
   <link rel="stylesheet" type="text/css" href="/Style.css">
    <script src="/script.js"></script>
</head>
<body>
<h1 class="title">Edita el plato</h1>
<br>
<form class="product-form" name="dishForm" action="/dishes/edit/{{dish.id}}" method="post" onsubmit="return checkDishForm()">
    <label for="name">Nombre:</label>
    <input type="text" id="name" name="name" value="{{dish.name}}"><br><br>
    <label for="category">Categoría:</label>
    <input type="text" id="category" name="category" value="{{dish.category}}"><br><br>
    <label for="price">Precio:</label>
    <input id="price" name="price" step="0.01" value="{{dish.price}}" min="0"><br><br>
    <div class="button-container">
        <input type="submit" value="Editar">
        <a href="/dishes" class="cancel">Cancelar</a><br><br>
    </div>
</form>
</body>
</html>