/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */
body {
    font-family: 'Arial', sans-serif;
    background-color: #e6e6e6;
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #666;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

main {
    padding: 50px 0;
    text-align: center;
}

.title{
    text-align: center;
    color: #333;
    margin-top: 50px;
    font-size: 36px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.hero {
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #6488AF;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #666;
}

.button {
    display: inline-block;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #45a049;
}

.menu, .location {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.menu h2, .location h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #6488AF;
}

.menu p, .location p {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #666;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.logo {
    font-size: 1.5em;
    color: #fff;
}

.nav-links {
    display: flex;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    margin-right: 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
    border: 1px solid #fff;
    opacity: 0.8;
}

.nav-links a:hover {
    background-color: #555;
    opacity: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}

.footer p {
    margin: 0;
}

/* Forms */
.product-form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-form input,
.product-form a,
.product-form textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.product-form input[type="submit"]{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}

.product-form .cancel{
    display: inline-block;
    padding: 10px 20px;
    background-color: red;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product-form input[type="submit"]:hover{
    background-color: #45a049;
}

.product-form .cancel:hover{
    background-color: darkred;
}

.product-form label {
    font-weight: bold;
}

.product-form .success-message {
    color: #4CAF50;
}

/* JavaScript */
input::placeholder {
    color: #aaa;
}

/*List of elements*/
.List-elem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkgray;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.List-elem:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.content-left {
    flex: 1;
    padding-right: 20px;
}

.content-right {
    flex: 1;
    text-align: right;
}
.content-left h3 {
    margin-top: 0;
}

/* Products */
.product-container {
    background-color: #fff;
    max-width: 800px;
    margin: 20px auto;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.product-container:hover {
    transform: translateY(-5px);
}

.product-container h3 {
    color: #333;
    font-size: 28px;
    margin-bottom: 10px;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

.product-container h4 {
    color: #666;
    font-size: 24px;
    margin-bottom: 10px;
}

.product-container p {
    color: #444;
    font-size: 20px;
    margin-bottom: 20px;
}

.button-container {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.edit, .delete, .back {
    display: inline-block;
    padding: 15px 30px;
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    background-color: #4caf50;
    border-radius: 30px;
    transition: background-color 0.3s ease;
}

.edit:hover, .delete:hover, .back:hover {
    background-color: #45a049;
    transform: translateY(-3px);
}

.button-container {
    margin-top: 20px;
}

.button-container a {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 5px;

}
.edit {
    background-color: #4caf50;
    color: #fff;
}

.delete {
    background-color: #f44336;
    color: #fff;
}

.edit:hover {
    background-color: #45a049;
    transform: translateY(-3px);
}

.delete:hover {
    background-color: darkred;
    transform: translateY(-3px);
}

