/* General page */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}


h1 {
    color: #8B4513;
    font-size: 3em;
    margin-top: 50px;
}

h2{
    color: #8B4513;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

ul {
    list-style-type: circle;
    list-style-position: inside;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

/* Forms */
form {
    max-width: 400px;
    margin: 0 auto;
}
input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #45a049;
}
label {
    font-weight: bold;
}
.success-message {
    color: green;
}



