/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #6488AF;
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.logo {
    font-size: 1.5em;
}

.nav-links {
    display: flex;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    margin-right: 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nav-links a:hover {
    background-color: #4CAF50;
}

main {
    padding: 50px 0;
    text-align: center;
}

.title{
    font-size: 2em;
    margin-bottom: 20px;
    color: #6488AF;
    text-align: center;
}

.hero {
   /* background-image: url('https://via.placeholder.com/1500x500'); */
    background-size: cover;
    background-position: center;
    /*color: #fff;*/
    padding: 100px 0;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #6488AF;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #666;
}

.button {
    display: inline-block;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #45a049;
}

.menu, .location {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.menu h2, .location h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #6488AF;
}

.menu p, .location p {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #666;
}

footer {
    background-color: #6488AF;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer p {
    margin: 0;
}

/* Forms */
.product-form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-form input[type="text"],
.product-form input[type="email"],
.product-form input[type="number"],
.product-form textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.product-form input[type="submit"],
.product-form a[type="submit"]{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}

.product-form input[type="submit"]:hover,
.product-form a[type="submit"]:hover{
    background-color: #45a049;
}

.product-form .button-container {
    text-align: center;
}

.product-form label {
    font-weight: bold;
}

.product-form .success-message {
    color: #4CAF50;
}

/* JavaScript */
input::placeholder {
    color: #aaa;
}

.List-elem {
    padding: 20px;
    margin: 10px 0;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.List-elem:hover {
    transform: translateY(-5px);
}

.List-elem .content-left {
    flex: 1;
}

.List-elem .content-right {
    margin-left: 20px;
}

/* Buttons */
.boton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.boton:hover {
    background-color: #45a049;
}
