<!DOCTYPE html>
<html lang = "es">
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/Style.css">
</head>
<body>
<p class="success-message">{{success}}</p>
<h1>Editar tabla</h1>
<form class="product-form" name="editTableForm" action="/tables/edit/{{table.id}}" method="post" onsubmit="return checkTableForm()">
    <label for="calories">Calorias:</label>
    <input type="number" id="calories" name="calories" value="{{table.calories}}"><br><br>
    <label for="protein">Proteina:</label>
    <input type="number" id="protein" name="protein" value="{{table.protein}}"><br><br>
    <label for="carbohydrates">Carbohidratos:</label>
    <input type="number" id="carbohydrates" name="carbohydrates" value="{{table.carbohydrates}}"><br><br>
    <label for="fats">Grasas:</label>
    <input type="number" id="fats" name="fats" value="{{table.fats}}"><br><br>
    <div class="button-container">
        <input type="submit" value="Editar">
        <a href="/tables" class="cancel">Cancelar</a><br><br>
    </div>

</form>
</body>
</html>