<!DOCTYPE html>
<html lang = "es">
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="Style.css">

</head>

<body>
<p class="success-message">{{success}}</p>
<h1>Añadir nueva tabla</h1>
<form name="tableForm" action="/new-table" method="post">
    <label for="calories">Calorias:</label>
    <input type="number" id="calories" name="calories"><br><br>
    <label for="protein">Proteina:</label>
    <input type="number" id="protein" name="protein"><br><br>
    <label for="carbohydrates">Carbohidratos:</label>
    <input type="number" id="carbohydrates" name="carbohydrates"><br><br>
    <label for="fats">Grasas:</label>
    <input type="number" id="fats" name="fats"><br><br>
    <input type="submit" value="Agregar" href="/tables">
</form>

</body>
</html>