<!DOCTYPE html>
<html lang="es">
<head>
    <title>Menú del Restaurante SSDD</title>
   <link rel="stylesheet" type="text/css" href="/Style.css">
</head>
<nav>
    <div class="navbar">
        <a href="/">Inicio</a>
        <a href="/dishes">Platos</a>
        <a href="/ingredients">Ingredientes</a>
        <a href="/tables">Tablas nutricionales</a>
    </div>
</nav>
<body>
<h1>Tablas nutricionales</h1>
<a href="/new-table" class="boton">Agregar tabla nutricional</a>
<p class="success-message">{{success}}</p>
{{#tables}}
<div class="List-elem">
    <div class="content-left">
            <h3>{{calories}}</h3>
            <p>Proteina: {{protein}}</p>
            <p>Carbohidratos: {{carbohydrates}}</p>
            <p>Grasas: {{fats}}</p>
        </div>
        <div class="content-right">
            <a href="/tables/edit/{{id}}" class="boton">Editar tabla</a>
            <br>
            <a href="/tables/delete/{{id}}" class="boton"
               onclick="return confirm('¿Estás seguro de querer eliminar esta tabla?')">Borrar tabla</a>
        </div>
            </div>
        {{/tables}}


</body>
<footer>
    <div class="footer">
        <p>Derechos de autor 2024 SSDD</p>
    </div>
</footer>
</html>