<!DOCTYPE html>
<html lang="es">
<head>
    <title>Detalles</title>
    <link rel="stylesheet" type="text/css" href="/Style.css">
</head>
<body>
<h1 class="title">Detalles de la tabla</h1>
<div class="product-container">

    <h3>{{table.calories}}</h3><br><br>
    <h4>Proteina: </h4>
    <p>{{table.protein}}</p><br>
    <h4>Carbohidratos: </h4>
    <p>{{table.carbohydrates}}</p><br>
    <h4>Grasas: </h4>
    <p>{{tables.fats}}</p><br>

    <div class="button-container">
        <a href="/table/edit/{{table.id}}" class="button">Editar</a><br><br>
        <a href="/table/delete/{{table.id}}" class="button">Borrar</a><br><br>
        <a href="/tables" class="button">Volver</a><br><br>
    </div>



</div>
</body>
</html>