<!DOCTYPE html>
<html lang="es">
<head>
    <title>Ingredientes</title>
    <link rel="stylesheet" type="text/css" href="/Style.css">

</head>
<body>
<nav class="navbar">
    <div class="container">
        <div class="nav-links">
            <a href="/">Inicio</a>
            <a href="/dishes">Platos</a>
            <a href="/ingredients">Ingredientes</a>
            <a href="/tables">Tablas nutricionales</a>
        </div>
    </div>
</nav>
<h1 class="title">Ingredientes</h1>
<div class="button-container">
    <a href="/new-ingredient" class="button">Agregar ingredientes</a>
</div>
        {{#ingredients}}
        <div class="List-elem">
        <div class="content-left">
            <a href="/ingredients/details/{{id}}" style="text-decoration: none"> <h3>{{name}}</h3></a>
            <br>
            <p>Categoría: {{category}}</p>
            <br>
        </div>
        <div class="content-right">
            <a href="/ingredients/edit/{{id}}" class="edit">Editar ingrediente</a>
            <br>
            <br>
            <a href="/ingredients/delete/{{id}}" class="delete"
                onclick="return confirm('¿Estás seguro de querer eliminar este ingrediente?')">Borrar ingrediente</a>
        </div>
        </div>
        {{/ingredients}}


<footer>
    <div class="container">
        <p>&copy; 2024 Restaurante SSDD. Todos los derechos reservados.</p>
    </div>
</footer>
</body>
</html>