<!DOCTYPE html>
<html lang="es">
<head>
    <title>Detalles</title>
    <link rel="stylesheet" type="text/css" href="/Style.css">
</head>
<body>
<h1 class="title">Detalles del ingrediente</h1>
<div class="product-container">

    <h3>{{ingredient.name}}</h3><br><br>
    <h4>Categoría: </h4><br>
    <p>{{ingredient.category}}</p>

    <div class="button-container">
        <a href="/ingredients/edit/{{ingredient.id}}" class="edit">Editar</a>
        <a href="/ingredients/delete/{{ingredient.id}}" class="delete" onclick="return confirm('¿Estás seguro de querer eliminar este ingrediente?')">Borrar</a>
    </div><br>
</div><br>
<div class="button-container">
    <a href="/ingredients" class="back">Volver</a><br>
</div>

</body>
</html>