<!DOCTYPE html>
<html lang="es">
<head>
    <title>Ingredientes</title>
    <link rel="stylesheet" type="text/css" href="/Style.css">

</head>
<nav>
    <div class="navbar">
        <a href="/">Inicio</a>
        <a href="/dishes">Platos</a>
        <a href="/ingredients">Ingredientes</a>
        <a href="/tables">Tablas nutricionales</a>
    </div>
</nav>
<body>
<h1>Ingredientes</h1>
<a href="/new-ingredient" class="boton">Agregar ingredientes</a>
<p class="success-message">{{success}}</p>
        {{#ingredients}}
        <div class="List-elem">
        <div class="content-left">
            <h3>{{name}}</h3>
            <p>Categoría: {{category}}</p>
        </div>
        <div class="content-right">
            <a href="/ingredients/edit/{{id}}" class="boton">Editar ingrediente</a>
            <br>
            <a href="/ingredients/delete/{{id}}" class="boton"
                onclick="return confirm('¿Estás seguro de querer eliminar este ingrediente?')">Borrar ingrediente</a>
        </div>
        </div>
        {{/ingredients}}

</body>
<footer>
    <div class="footer">
        <p>Derechos de autor 2024 SSDD</p>
    </div>
</footer>
</html>