<!DOCTYPE html>
<html lang = "es">
<head>
    <meta charset="UTF-8">
    <title>Nuevo ingrediente</title>
    <link rel="stylesheet" type="text/css" href="/Style.css">
    <script src="/script.js"></script>

</head>
<body>
<h1 class="title">Añade un nuevo ingrediente</h1>
<br>
    <form class="product-form" name="ingredientForm" action="/new-ingredient" method="post" onsubmit="return checkIngredientForm()">
        <label for="name">Nombre:</label>
        <input type="text" id="name" name="name"><br><br>
        <label for="category">Categoría:</label>
        <input type="text" id="category" name="category"><br><br>
        <label for="origin">Origen:</label>
        <input type="text" id="origin" name="origin"><br><br>
        <div class="button-container">
        <input type="submit" value="Agregar"><br>
        <a href="/ingredients" class="cancel">Cancelar</a><br><br>
        </div>
    </form>
<br>

</body>
</html>