<!DOCTYPE html>
<html lang="es">
<head>
    <title>Alergenos</title>
    <link rel="stylesheet" type="text/css" href="Style.css">
</head>
<body>
<h1>Alérgenos</h1>
<div class="contenedor">
    <ul>
        {{#allergens}}
            <h3>{{name}}</h3>
        {{/allergens}}
    </ul>
</div>
</body>
</html>