<!DOCTYPE html>
<html lang="es">
<head>
    <title>Detalles</title>
    <link rel="stylesheet" type="text/css" href="Style.css">
</head>
<body>
<h1>Detalles del plato</h1>
<div class="contenedor">

    <h2>{{dish.name}}</h2>
    <p>Categoría: {{dish.category}}€</p>
    <p>Precio: {{dish.price}}€</p>


    <a href="/dish/edit/{{dish.id}}">Editar plato</a>
    <a href="/dish/delete/{{dish.id}}">Borrar plato</a>


</div>
</body>
</html>