<!DOCTYPE html>
<html lang="es">
<head>
    <title>Menú del Restaurante SSDD</title>
    <link rel="stylesheet" type="text/css" href="Style.css">
</head>
<body>
<h1>Platos</h1>
<div class="contenedor">
    <ul>
        {{#dishes}}
            <h3>{{name}}</h3>
            <p>Precio: {{price}}€</p>
            <a href="/dish/edit/{{id}}">Editar plato</a>
            <a href="/dish/delete/{{id}}">Borrar plato</a>
        {{/dishes}}
    </ul>
</div>
</body>
</html>