<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="Style.css">
</head>
<body>
<h1>Bienvenido al restaurante SSDD</h1>
<div class="contenedor">
    <h2>Platos destacados</h2>

    <h2>Menú del día</h2>

    <h2>Valoraciones</h2>

    <h2>Dónde encontrarnos</h2>

</div>
</body>
</html>