<!DOCTYPE html>
<html lang="es">
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="Style.css">
</head>
<body>
<h1>Bienvenido al restaurante SSDD</h1>
<div class="contenedor">
    <h2> <a href="/dishes">Nuestros platos</a> </h2>

    <h2>Menú del día</h2>

    <h2>Valoraciones</h2>

    <h2>Dónde encontrarnos</h2>
    <h3>Estamos ubicados en:</h3>
    <address>
        Dirección: Calle Tulipán, Móstoles, Madrid, 28933
    </address>
    <img src="https://www.google.com/maps/d/u/0/thumbnail?mid=1q45t53MSAizG2rtpeKkjSm526bM&hl=en_US" width="200" height="200">

</div>
</body>
</html>