<!DOCTYPE html>
<html lang="es">
<head>
    <title>Ingredientes</title>
    <link rel="stylesheet" type="text/css" href="Style.css">
</head>
<body>
<h1>Ingredientes</h1>
<div class="contenedor">
    <ul>
        {{#ingredients}}
            <h3>{{name}}</h3>
            <p>Categoría: {{category}}</p>
            <a href="allergens.mustache">Ver lista de alérgenos</a>
        {{/ingredients}}
    </ul>
</div>
</body>
</html>