<!DOCTYPE html>
<html lang="es">
<head>
    <title>Nuevo plato</title>
</head>
<body>
<p>{{success}}</p>
<form name="dishForm" action="/new-dish" method="post">
    <label for="name">Nombre:</label>
    <input type="text" id="name" name="name"><br><br>
    <label for="category">Categoría:</label>
    <input type="text" id="category" name="category"><br><br>
    <label for="price">Precio:</label>
    <input id="price" name="price"><br><br>
    <input type="submit" value="Agregar">
</form>

<a href="/dishes">Volver al listado de platos</a>

</body>
</html>